body{
    padding: 0;
    margin: 0;
}
section-9 .container{
   margin-top: 20px;
   margin-bottom: 20px;
    
}
section-9 .container .row img{
    width: 100%;
    height: 500px;
}
section-9 .container .row{
    position: relative;
}
section-9 .container .row .form{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0%;
    
    
}


section-9 .container .row .form label{
    position: relative;
  left: 9px;
    top: -37px;
}

section-9 .container .row form input:focus~label,
section-9 .container .row form input:valid~label
{
    top: -65px;
    transition: 1s;
    color:gray;
    font-weight: 800;
}
section-9 .container .row .form textarea{
    width: 100%;
    border-radius: 5px;
}
