@media only screen and (max-width:992px){
   header .container .header_content h1{
    font-size: 50px;
    
   }
   .section-3 .container h2{
    margin-left: 28px;
    font-size: 27px;
   }
   .section-3 .container p{
    margin-left: 28px;
    
   }
   .section-3 .container .cards{
    margin-left: 0px;
   }
   footer .con .content h4{
    font-size: 20px;
   }
    
}

@media only screen and (max-width:992px){
   
   
   header .cards {
      overflow: auto;
   }
   header .cards img{
      width: 100%;
      height: 100%;
      
   }
   .section-3 .container .Hundreds{
      width: 100%;

   }
   .section-3 .container .cards .card{
      width:200px;
      margin-left: 30px;
      margin: auto;

   }
   .section-3 .container .card_first{
      margin-left: 60px;
   }
   .section-3 .container .cards .card img{
      position: relative;
      left: -35px;
   }

}
@media only screen and (max-width:768px){
  
   header .cards {
      overflow: auto;
   }
   header .cards img{
      width: 100%;
      height: 100%;
      
   }
   .section-3 .container .Hundreds{
      width: 100%;

   }
   .section-3 .container .cards .card{
      width:200px;
      margin-left: 30px;
      margin: auto;

   }
   .section-3 .container .card_first{
      margin-left: 60px;
   }
   .section-3 .container .cards .card img{
      position: relative;
      left: -35px;
   }
}