body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 80px;
    height: auto;
    border-radius: 50%;
    
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: gray;
    transition: 0.3s ;
}
nav ul li a:hover{
    color: rgb(61, 59, 59);
}
nav ul li:last-child{
    font-size: 20px;
    background-color: black;
    border-radius: 30px;
    padding: 3px 15px;
     box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;;
     transition: 1s linear;

}
nav ul li:last-child:hover{
    background-color: rgb(19, 18, 18);
    
}




/* -----------------------header-------------- */




header .container {
  margin-top: 30px;
 
  
}


header img{
  width:100%;
  height: 650px;
  
  

}
header .container .row{
  position: relative;
}
/* header .image{
  background-image: url(image/header\ imge2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

} */
header .header_content{
  position: absolute;
  top: 0;
  /* color:gray; */
  color: rgb(116, 119, 122);
  margin-top: 50px;
}
header .header_content h1{
  font-weight: bold;
  font-size: 70px;
  text-transform: uppercase;
  transition: 1s;
}
header .header_content  p{
  width: 40%;
  line-height: 30px;
  margin-left: 6px;
  font-weight: 500;
  text-transform: capitalize;

}
header .header_content button{
  margin-left: 10px;
  border: none;
  outline: none;
  background-color: black;
  color: aliceblue;
  border-radius: 30px;
  padding: 3px 15px;
  transition: .3s;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;;

}
header .header_content button:hover{
  background-color: grey;
}
header  .header_search{
  position: absolute;
  width: 100%;
  color:aliceblue;
  height: 100px;
  top: 35%;
  background: rgb(241,241,241,.7);
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

header .header_search{
  width: 98%;
}

header .header_search select , input{
  padding: 20px 30px;
  outline: none;
  border:  none;
  border-radius: 5px;
   
}
header .header_search select{
  text-transform: capitalize;
}
header .cards{
  top: -10%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  
}
header .cards .card:hover {
 
  background-color: rgba(128, 128, 128, 0.774); 
  transition: 1s;
  
  
}
header .cards .card:first-of-type{
  margin-left: 10px;
}
header .cards .card:last-of-type{
  margin-right: 10px;
}
header .cards img{
  height: 200px;
  
}
header .cards .card a{
  background-color: black;
  color: aliceblue;
}
header .cards .card a:hover{
  background-color: gray;
}


/* -----------------------------slider---------------------------------------- */
.section-2{
  margin-left: 6%;
  margin-right: 6%;
}
.slider{
  height: 400px;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
  overflow: hidden;
  margin-bottom: 40px;

}
.slide_track{
  display: flex;
  width: calc(250px * 14);

}
.slide{
  height: 300px;
  width: 250px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}
.section-2 .slider .slide .card{
  width: 100%;
  transition: 1s;
}
.section-2 .slider .card:hover{
  transform: translateZ(10px);
  background-color: rgba(128, 128, 128, 0.774); 
 
  
}
.slider::before,
.slider::after{
  background:linear-gradient(to right rgba(255,255,255,1)) 0%,rgba(255,255,255,0) ;
  content: "";
  height: 100%;
  position: absolute;
  width:15%;
  z-index: 2;
  
}
.slider::before{
  left: 0;
  right: 0;
}
.slide::after{
  left: 0;
  right: 0;
}
.section-2 .slider .slide_track{
  animation: scroll 40s linear infinite;
}
@keyframes scroll{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translate(calc(-250PX * 7));
  }
}
.section-2 .slider .slide_track:hover{
  animation-play-state: paused;

}

/* ----------section-3-- studets  says------------------ */
.section-3 .container .card{
  -webkit-box-shadow: 0px 0px 3px 0px rgba(107,99,107,1);
  -moz-box-shadow: 0px 0px 3px 0px rgba(107,99,107,1);
  box-shadow: 0px 0px 3px 0px rgba(107,99,107,1);
  padding: 0px 12px;
  cursor:context-menu;
  transition: .7s;
}
.section-3 .container h2 {
  color: rgb(116, 119, 122);
  font-weight: 700;
}
.section-3 .container .card:hover{
  background-color: rgba(128, 128, 128, 0.774); 
} 
.section-3 .container .card p{
  font-weight: 400;
}
.section-3 .container .card:hover img{
  transform: translateZ(20px);
 transition: 1s;
}
.section-3 .container .card .card_img{
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: red; */
}
.section-3 .container .card img{
  border-radius: 50%;
  height: 60px;
  width: 25%;
  position: relative;
  right: 50px;
  margin-top: 30px;
}
.section-3 .container .card a{
  text-align: center;
  text-decoration: none;
  border-bottom: 2px solid gray;
 margin-bottom: 2px;
 color: rgb(43, 43, 115);
 font-weight: 500;
  
}
.section-3 .container .card .anchor_tag{
  text-align: center;
  margin-bottom: 5px;
}
/* ---------------section-4--------------- */


.section-4 .container{
  margin-top: 50px;
}
.section-4 .container .box{
  -webkit-box-shadow: 0px 0px 3px 0px rgba(107,99,107,1);
  -moz-box-shadow: 0px 0px 3px 0px rgba(107,99,107,1);
  box-shadow: 0px 0px 3px 0px rgba(107,99,107,1);
  /* padding-top: 30px; */
  border-radius: 5px;
  
 
}
.section-4 .container h2{
  color: rgb(116, 119, 122);
}
.section-4 .container .col-md-3 .content{
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.section-4 .container .col-md-3 .content img{
  width: 100px;
  border-radius: 5px;
}
.section-4 .container .col-md-3 .content h6{
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
}

/* -------------section-5--------------- */

.section-5 .container .row i{
  font-size: 50px;
  
}
.section-5 .container .row p{
  font-weight: 600;
  line-height: 25px;
  
}
/* ---------------section-6----------------------------- */
.section-6 .slider{
  height: 400px;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
  overflow: hidden;
  margin-bottom: 40px;

}
.section-6 img{
  width: 200px;

}
.section-6 .slide_track{
  display: flex;
  width: calc(250px * 1);

}
.section-6 .slide{
  height: 300px;
  width: 250px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}

.section-6 .slider .card:hover{
  transform: translateZ(10px);
  background-color: rgba(128, 128, 128, 0.774); 
 
  
}
.section-6 .slider::before,
.section-6 .slider::after{
  background:linear-gradient(to right rgba(255,255,255,1)) 0%,rgba(255,255,255,0) ;
  content: "";
  height: 100%;
  position: absolute;
  width:15%;
  z-index: 2;
  
}
.section-6 .slider::before{
  left: 0;
  right: 0;
}
.section-6 .slide::after{
  left: 0;
  right: 0;
}
.section-6 .slider .slide_track{
  animation: scroll 10s linear infinite;
}
@keyframes scroll{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translate(calc(-250PX * 7));
  }
}
/* .section-6 .slider .slide_track:hover{
  animation-play-state: paused;

} */
/* --------------------------section-7------------------- */
.section-7 .container .row form{
  /* border: 1px solid red; */
  background-color: rgba(116, 119, 122, 0.13);
  border-radius: 15px;
  margin-bottom: 60px;
}
.section-7 .container .row h2{
  text-align: center;
  font-weight: 500;
  color: rgb(116, 119, 122);
  
}
.section-7 .container .row form img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.section-7 .container .row form input{
  padding: 10px;
  width: 100%;
  border: 1px solid black;
  background-color: rgba(128, 128, 128, 0.094);

}
 /* .section-7 .container .row form label{
   position: relative;
  right: 0;
  left: 10px;
  top: 35px;
  transition: 1s; 
}  */

/* .section-7 .container .row form input:focus ~label,
 .section-7 .container .row form input:valid ~label 
{
    left: 10px;
  top: 10px;
  right: 0px;
  color: aqua;  
  background-color: aliceblue;
  padding: 0 3px;
  border-radius: 5px;
}  */

 /* .section-7 .container .row form input:focus~label,
 .section-7 .container .row form input:valid~label
{
    top: -5px;
    transition: 1s;
   
    font-weight: 800;
} */
 /* .section-7 .container .row form input:hover ~label{
  top: 10px;

} */
.section-7 .container .row form button{
  border-radius: 5px;
  padding: 5px 22px;
  margin-top: 12px;
  font-weight: 600;
  width: 100%;

}


/* ---------------footer--------------------- */
footer{
  margin-left: 6%;
  margin-right: 6%;
}
footer .con{
  background-color: rgba(128, 128, 128, 0.336);
  
  margin-bottom: 30px;
  /* height: 500px; */
}
footer .con .content {
  display: flex;
  justify-content: space-between;
  align-items:baseline;
}
footer .con .content h4{
  margin-bottom: 30px;
  font-weight: 700;
  transition: 1s;
}
footer .con .content .icon a{
  color:  black;
}
footer .con .content .icon{
  margin: 10px;
  margin-left: 20px;
  font-size: 25px;
  color: black;
}
footer .con .content .links{
  color: black;
  line-height: 30px;
}
footer .con .content .courses{
  /* border: 2px solid black; */
  line-height: 30px;
  color: black;
}
footer .con .content .policy{
  /* border: 2px solid black; */
  line-height: 80px;
  
  color: black;
}
footer .con .content .Contact{
  /* border: 2px solid black; */
  line-height: 30px;
 width: 400px; 
  color: black;
  line-height: 30px;

}
footer .con .content .Contact input{
  /* background-color: aqua; */
  padding: 4px;
  z-index: 1;
  
}
footer .con .content .Contact button{
  position: relative;
  border-radius: 5px;
  padding: 3px 25px;
  border-left: none;
  left: -8px;
  z-index: -1;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(107,99,107,1);
  -moz-box-shadow: 0px 0px 3px 0px rgba(107,99,107,1);
  box-shadow: 0px 0px 3px 0px rgba(107,99,107,1);
  border: none;
}

footer .con  .copyright{
  font-weight: 500;
  text-align: center;
  font-size: 23px;
  margin-top: 70px;

}